# API
COINGECKO_BASE_URL=https://api.coingecko.com/api/v3
COINGECKO_VS_CURRENCY=usd
COINGECKO_PER_PAGE=50
COINGECKO_PAGE=1
COINGECKO_TIMEOUT_SECONDS=30

# Data Lake (local)
DATA_LAKE_ROOT=./data_lake

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=crypto_dw
POSTGRES_USER=crypto_user
POSTGRES_PASSWORD=crypto_pass

# Airflow
AIRFLOW__CORE__DAGS_FOLDER=/opt/airflow/dags
AIRFLOW_UID=50000
